<!DOCTYPE html>
<html>

<head>
  <title>3RD</title>
  <link rel="stylesheet" href="../app.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="navhold">
      <div class="topnav"><a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/newsletter">Newsletter</a>
      <a href="/contacts">Contacts</a>
      <a href="/addcontact">Contact Us</a>
      <a href="/reviews">Reviews</a>
      <a href="/addreview">Add Review</a>

      </div>
    </div>
  </div>
  
  