 <% include ../partials/header %>

<div class="add">
  <h2>Welcome to the product request page  <br><br>
  <div class="grid-container">
        
            <form accept-charset="UTF-8" action="/addcontact" method="post">    
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name" />
                  
                  
                  <label for="comment">Request</label>
                    <input name="comment" type="text" placeholder="Enter Request" />
                    
                   
                   <label for="email">Email</label> 
                    <input name="email" type="text" placeholder="Enter email" />
                    
                   
<button class="button">Add</button>
                    
                   
                    </div>
              </form>
      
         
         
    </div>
  </h2>
</div>


<% include ../partials/footer %>