 <% include ../partials/header %>

<div class="add">
  <h2>Add a review<br><br>
  <div class="grid-container">
        
            <form accept-charset="UTF-8" action="/addreview" method="post">    
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name" />
                  
                  
                  <label for="review">Review</label>
                    <input name="review" type="text" placeholder="Enter Review" />
                    
                   
                   <label for="image">Email</label> 
                    <input name="email" type="text" placeholder="Enter email" />
                    
                   
<button class="button">Add</button>
                    
                   
                    </div>
              </form>
      
         
         
    </div>
  </h2>
</div>


<% include ../partials/footer %>