  <% include ../partials/header %>

	<head>
		<title> 3RD Footwear </title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="app.css">
	</head>
<body>
 

<div class="home">
      <dinodev class="mainHead">
        <h1>3RD</h1>
        <h2>FOOTWEAR</h2> 
      </div>
      <div class="subHead">
        <img src="images/logo.png" alt="3rd logo" style="width600px; height 600px;">
      </div>
  </div>
</body>

 <% include ../partials/footer %>